[Desktop Entry]
Version=1.0
Name=Software Center
Comment=Manage your system applications using NXOS Software Center
Exec=nomad_software_center
Icon=nx-software-center
Terminal=false
Type=Application
Categories=Utility;
